[2020-03-06 12:47] andzejsw opened #1 "Example Client create not working"
[code]
If I use this code from example, to create client, i  receive error: "Too many positional arguments: 0 expected, but 1 found". WebSocketTransport doesn't have arguments. Are docs outdated? If yes, can they be updated with current usage?
Also. What is correct usage for call and other methods with and without arguments? If it is possible, please update also that one.

[2020-03-06 13:23] konsultaner commented on #1
@andzejsw  I fixed the example, checkout the [test suite for more advanced examples](https://github.com/konsultaner/connectanum-dart/blob/master/test/client_test.dart)

[2020-03-06 13:23] #1 closed

[2020-03-06 14:07] andzejsw opened #2 "onDisconnect and onConnecting events"
Is or there will be client connection events like `onDisconnect`, `onConnecting`, `onConnected`. For example depending on those statuses i want to do specific tasks. If onDisconnect is triggered, i would like to call reconnect method etc.
Also for reconnect i am not seeing client.close() option for cases, when i want to close unauthorised client session, but reconnect with client authid,

[2020-03-06 14:21] andzejsw commented on #1
`Too many positional arguments: {0} expected, but {3} found.`
Still this error on WebSocketTransport.

[2020-03-06 14:57] konsultaner commented on #1
can you try to import io or html before? The library uses conditional exports

[code]

[2020-03-06 15:00] andzejsw commented on #1
Both not working

[2020-03-06 15:12] konsultaner commented on #2
It is planned, but not ready yet.

[2020-03-06 15:23] andzejsw commented on #1
In class Client example looks different than ir is in README. But that one also not working for me. Maybe i am using it wrong. Atleast that one is compiling for me:
    Client client = Client(
        realm: "myRealm",
        transport: SocketTransport(
            "wss://mydomain.lv/ws",
            8080,
            Serializer(),
            SocketHelper.SERIALIZATION_JSON
        )
    );

[2020-03-06 15:52] konsultaner commented on #1
It doesn't work when I do it ;)

I pushed some new code to make the examples work as exected. Could you give it a try? I'm quite new to dart and didn't know much about conditional exports. I also added a enum class for the serializer type. so please try it as written in the example again.

[2020-03-06 16:22] andzejsw commented on #1
I got a bit further, but still there is error:
[code]

[2020-03-06 16:38] konsultaner commented on #1
Yes I removed it and replaced it with `WebSocketSerialization.SERIALIZATION_JSON`

[2020-03-06 16:43] andzejsw commented on #1
Big tnx. Now it works! Please, when it is possible, update docs with change, cause someone else may run into this issue.

[2020-03-06 18:05] konsultaner opened #3 "PBKDF2 does not satisfy test vector if secret has special chars "pass\0word""
Needs a fix!

[2020-03-10 07:32] andzejsw opened #4 "Is there planed builder?"
Currently when i want to create client, with and without `authid`, i need to wrap whole creation logic inside if condition. With builder i would be able to create client without duplicate code. Currently i am doing it like this:
[code]
Expecting something like this:
[code]
PS: I  am doing something like this in my android project, who is using `Jawampa`. `Jawampa` also has builder.

[2020-03-10 07:48] konsultaner commented on #4
You could also do something like this:

[code]

[2020-03-10 07:55] andzejsw commented on #4
Oh. Big tnx. Didn't knew that. I am new to dart.

[2020-03-10 08:12] #4 closed

[2020-03-10 08:18] konsultaner commented on #4
In dart all optional parameters are initialized with null. I guess the builder pattern is not necessary for languages that have optional parameters, because there is no API break when changing these parameters.

[2020-03-10 08:19] andzejsw commented on #4
Yes. I agree.

[2020-03-10 09:12] andzejsw opened #5 "Is there a way to recreate Client?"
Currently at the beginning i am logging in unauthorised. At some point i am calling reconnect method, where i create client again. Client is created without any errors. But after that, when i make session call method request, it leads to this error:

[code]

My reconnect method looks like this:
[code]
In disconnect method currently i am just nulling session, till there will be method available, to

[2020-03-10 10:30] andzejsw commented on #5
Error was actually somewhere else. Before `session.dart:192` line i printed out `result.error` object and it showed, that my session was unauthorised. So it looks like client create with `authid` didn't worked. But i am surprised, that error message for `call().OnError` didn't contained it.

[2020-03-10 12:49] konsultaner commented on #5
So its more an unexpected behavior. You expect the call to not throw the error itself but the stream right? I have to check if that is possible or if the stream closes on error. If the stream closes, I would have to reinitalize the whole input stream. I don't know if that is a performance issue.

[2020-03-10 12:50] konsultaner commented on #5
can you show me your call code?

[2020-03-10 12:52] andzejsw commented on #5
Nope. My call method just isn't `OnError` retrieving error message, which was send by server. Instead it just shows stream error.
I am calling call method like this:

[code]
and my call code is this:
[code]

[2020-03-10 12:52] konsultaner commented on #5
Checkout this unit test: https://github.com/konsultaner/connectanum-dart/blob/master/test/client_test.dart#L390

It should actually work

[2020-03-10 12:55] konsultaner commented on #5
This is wrong:

The `onError` only handles errors of your listen method. so if `print(r)` would raise an error you could handle it with this.

do it like this:

[code]

[2020-03-10 12:56] #5 closed

[2020-03-10 12:58] konsultaner commented on #5
by the way timeout is not yet supported. if the router sopports it, it will be sent, but it is not auto-canceling the call yet.

[2020-03-10 13:22] andzejsw opened #6 "Client close required to close unauthorised session on reconnect!"
I was connecting to Client without `authid` and `ticket`. After some time i was doing reconnect with authid. But it didn't worked. And it is because, i already have anonymous client session open. Wamp doesn't understand how to change between anonymous session to authorised, without session close. So for my project session.close() is crucial.

[2020-03-10 14:17] konsultaner commented on #6
I don't quite understand. In WAMP there is one session per authentication process. Could you specify your issue?

[2020-03-10 14:19] konsultaner commented on #6
look at this: https://wamp-proto.org/_static/gen/wamp_latest.html#transport-and-session-lifetime

[2020-03-10 14:20] andzejsw commented on #6
I am authorised with anonymous user. Basically without `authid` and without `ticket`. I am using sms login to authorise. After sms is received, i want to close anonymous session and start new, with authid, which i received from server.

[2020-03-10 14:22] konsultaner commented on #6
For this you should implement your own 2 factor authentication. Ticket is not suitable for this. I still don't get what the issue is, sorry.

[2020-03-10 14:24] andzejsw commented on #6
Ticket auth works for me in `Jawampa`. I can't create new authorised session, till i close unauthorised one.

[2020-03-10 14:25] konsultaner commented on #6
So you want to have 2 sessions in parallel?

[2020-03-10 14:25] andzejsw commented on #6
Nope. I want to close first one and then open new, which one has authid.

[2020-03-10 14:30] konsultaner commented on #6
like this ?:

[code]

[2020-03-10 14:31] andzejsw commented on #6
Before i create second session, i want to close first session. But there is no session close. That is the issue for me.

[2020-03-10 14:36] andzejsw commented on #6
these looks parallel sessions, if i am not mistaking. Nope. I want one at a time.  Like:

[code]
then i receive sms and call `reconnect` method:
[code]
In `disconnect` method i close session
  void disconnect() {
    session.close(); // TODO: Close client
    session = null;
  }
In `connectWampClient` i create new client and session:
[code]

[2020-03-10 14:37] konsultaner commented on #6
I'm aout to add the close method. Meanwhile you may just close the transport.

[2020-03-10 14:39] andzejsw commented on #6
I tried to add following code in `session.dart`, but it didn't worked:
[code]

[2020-03-10 14:42] konsultaner commented on #6
I'm up to something like this:

[code]

the server should return a goodbye and close the transport.

[2020-03-10 14:45] andzejsw commented on #6
Ok. Please inform me or close issue, when it is finished! :)

[2020-03-10 14:50] konsultaner commented on #6
I added the code. you try?

[2020-03-10 14:53] konsultaner commented on #6
by the way, isnt that wrong?:

[code]

[2020-03-10 14:57] andzejsw commented on #6
It isn't wrong. In my case authid and ticket password matches.
PS: Looks like that you didn't pushed these changes in master.

[2020-03-10 14:57] konsultaner commented on #6
sry i have 2 repos. try now

[2020-03-10 15:00] andzejsw commented on #6
Hmm. Code is pushed. But not working for me.

[2020-03-10 15:03] konsultaner commented on #6
is it not connecting or what is the issue?

[2020-03-10 15:05] andzejsw commented on #6
It isn't connecting second client, which was created after first close.

[2020-03-10 15:06] andzejsw commented on #6
Other dev, with whoom i am working told me previously, that i am sending correctly wamp authorisation, but couldn't authorise, cause there was already session connected. Most likely same thing remains and close isn't working compitely.

[2020-03-10 15:12] konsultaner commented on #6
The transport is [definitly closed when](https://github.com/konsultaner/connectanum-dart/blob/master/test/client_test.dart#L116) calling.

[code]

 The unit test is green. Sure this is an issue of this package?

[2020-03-10 15:13] andzejsw commented on #6
Ok. I will test everything deeper and return here, if i find something more.

[2020-03-10 15:15] konsultaner commented on #6
I had similar issues one day. It was related to a transparent closing the tcp connection. sending a ping pong under the hood helped. Dart itself does [not seem to support it](https://github.com/dart-lang/sdk/issues/36728) atm.

[2020-03-11 08:44] andzejsw commented on #6
I just tested Client connect by directly providing authid (previously i tested by switching from unauthorised session to authorised) for authorised session and i can't connect to server. Could it be, that TicketAuthentication method isn't working!?

[2020-03-11 08:50] konsultaner commented on #6
I have a separate test for that. I'll give it a try with an integration test.

[2020-03-11 09:06] konsultaner commented on #6
I added the test and it works as expected. very strange... Is the client event connecting to the server?
I tried the simple auth process with the connectanum router, but I havn't tried cra or ticket yet. I'll give it a try later today. could you debug the authprocess with your router? what is your router?

[2020-03-11 09:14] andzejsw commented on #6
With unauthorised client everything is fine. But when i use ticket, it doesn't work. From server side we see, that no one tried to connect with specified authid. So server doesn't receive it. I will try to connect to web and see if i can connect with the same authid using autobahn.

[2020-03-11 09:44] andzejsw commented on #6
With autobahn i can successfully login using ticket.

[2020-03-11 09:59] konsultaner commented on #6
I have never used this package in production, just test driven development ;) I'll write a running example later and test it with a router. What is the name of your router?

[2020-03-11 10:01] andzejsw commented on #6
I am using Crossbar.io.

[2020-03-11 10:07] konsultaner commented on #6
right

[2020-03-11 11:17] konsultaner commented on #6
please try again!

[2020-03-11 11:20] andzejsw commented on #6
Wow nice! Now it works!

[2020-03-11 11:22] andzejsw commented on #6
I thin that issue can be closed. Cause now i tested full flow and it worked!

[2020-03-11 11:27] konsultaner commented on #6
perfect!

[2020-03-11 11:27] #6 closed

[2020-03-21 11:52] konsultaner commented on #2
@andzejsw  i started some reconnect work, but I might have to refactor something. You can give it a try if you want.

[2020-03-23 12:10] konsultaner commented on #2
1.0.0.-dev.9 should fix this.

[2020-03-23 12:10] #2 closed

[2020-03-25 10:17] andzejsw commented on #2
For me session isn't reconnecting. For example when i disable wifi and enable it again, session is still not connected and doesn't try to connect again.
Also i cant see `onDisconnect`, `onConnecting`, `onConnected` events. There only as far as i see is different reconnect logic. I am creating session this way:
[code]

[2020-03-25 10:26] konsultaner commented on #2
No I did not add those events. Instead I made `client.connect()` return a stream. For each reconnect the stream pushes a new session object. What you want to do is the following:

[code]

[2020-03-25 14:55] andzejsw commented on #2
Tnx. I changed my code, but still wasn't able to catch connection changes and reconnect wasn't happening. `.listen` was triggered only once (only when connected first time) I tested on Android device. My code:
[code]
I switched off and on wifi on my mobile device.

[2020-03-26 10:03] konsultaner commented on #2
what transport did you use? did you (could you) try Socket transport? (which is supported by crossbar)

[2020-03-26 10:04] andzejsw commented on #2
I am already using Crossbar socket transport.

[2020-03-26 10:30] konsultaner commented on #2
are you on the latest version of connectanum-dart?

[2020-03-26 10:40] andzejsw commented on #2
Yes. Actually i checked now and saw, that on wifi disable, `.listen` wasn't triggered. But on enable it was.

[2020-03-26 12:46] konsultaner commented on #2
yes, this is the expected behaviour. The next session is pushed to the stream after it has been connected and authenticated. So this behaviour is correct. Did you expect anything else?

[2020-03-26 13:43] andzejsw commented on #2
I was expecting, that i know, that ws session is down by some reason, and based on that i would show, that app currently is in offline state. But this could wait and isn't crucial and correct behavior for now can stay.

[2020-03-26 14:05] konsultaner commented on #2
I added a `onConnectionLost` beside the `onDisconnect` to the session. This way you should be able to handle it.

client.connect(
    pingInterval: Duration(seconds: 1),
    reconnectTime: Duration(seconds: 10),
    reconnectCount: 50, // you might get a stack overflow if you have too many
).listen((session) {
    session.onConnectionLost.then(() => showReconnectHint())
    session.onDisconnect.th

[2020-03-26 14:18] andzejsw commented on #2
Oh. Big tnx. I will take a look

[2020-03-26 14:37] andzejsw commented on #2
I did a same way as in your example, but `onConnectionLost` and `onDisconnect` wasn't called.

[2020-03-27 08:36] konsultaner commented on #2
ok, ill write a test later

[2020-03-27 17:03] konsultaner commented on #2
I tested it with all transports and it should work now. It did with all my scenarios.

[2020-03-27 17:13] konsultaner opened #7 "Support argon 2 with wamp-scram"
This will happen as soon as argon is available for dart. Please let me know if anyone sees a working argon implementation for dart. Link packages in this issue!

[2020-03-28 17:07] konsultaner opened #8 "ping pong does not work in dart 2.7.2"
the unit test fails 👎

[2020-03-28 17:19] #8 closed

[2020-05-27 19:42] andzejsw opened #9 "Subscription Revocation"
As far as i see, there is not implemented `Subscription Revocation`. Is it planed soon?
Until then, is it just enough, if i am using just `cancel` method on `StreamSubscription`?

[2020-05-28 07:47] konsultaner commented on #9
Hey @andzejsw I could implement it for you. It doesn't seem to be very hard ;)

[2020-05-28 07:49] andzejsw commented on #9
Hey. It would be very great and useful!

[2020-06-08 09:08] konsultaner commented on #9
@andzejsw could you give it a try?

https://github.com/konsultaner/connectanum-dart/blob/0be108d3fdf525fda3a2be3ef9c854234e5fd243/example/main.dart#L26

[2020-06-16 07:46] #9 closed

[2020-07-03 14:24] andzejsw opened #10 "What is correct way of using Connectanum Error class outside package."
I have something like this.

[code]
If i want to print error message, which was retrieved from server, should i implement Error class from package and use instead of Object? Or should i do it differently?

[2020-07-05 08:37] konsultaner commented on #10
I always return the error message. I would use the packages Error instead.

[2020-07-06 06:16] andzejsw commented on #10
It works for me only when i do object casting to package Error.
[code]

[2020-07-06 07:50] andzejsw opened #11 "Unhandled Exception: NoSuchMethodError: The method '>' was called on null."
I got this error:

[code]

Looks like this happens in this package line:
`if (_socket.closeCode > 1000 && !_goodbyeSent && !_goodbyeReceived) { `

[2020-07-06 08:04] andzejsw commented on #11
As i understand, by some reason `closeCode` is being `null`. And that leads to exception.

[2020-07-06 08:15] andzejsw commented on #9
How can i manually force unsubscribe for specific uri?

[2020-07-06 08:29] konsultaner commented on #9
the session object has a unsubscribe method. Just call it with the subscription id:

https://github.com/konsultaner/connectanum-dart/blob/72b9e1c15740bd3885a96f64f10ddb8b63f194de/lib/src/protocol/session.dart#L249

[2020-07-06 08:35] andzejsw commented on #9
Tnx. It works. Is there also check if subscriotion is already unsubscribed!?

[2020-07-06 09:58] konsultaner commented on #9
No, because this is router dependant. you may use the [subscription meta api](https://crossbar.io/docs/Subscription-Meta-Events-and-Procedures/) to check this.

[2020-07-10 09:03] konsultaner commented on #10
This is a dart issue. The `onError` parameter in dart streams has no type.

https://github.com/dart-lang/sdk/blob/99b693ba889ab7fc31b8453d8c221ba154c1211e/sdk/lib/async/stream.dart#L507

[2020-07-10 09:03] #10 closed

[2020-07-10 09:14] #11 closed

[2020-07-20 06:38] andzejsw opened #12 "Run in foreground service"
What is best way to run connectanum instance as foreground service in android?

[2020-07-20 08:57] konsultaner commented on #12
I dont quite understand. Flutter runs in a main thread by default. Could you specify your issue?

[2020-07-20 09:04] andzejsw commented on #12
In native android app i was using Foreground service witch one was listening to wamp events even when app was closed. So when events was received i was able to do some actions, like show notifications, chatheads etc. Is there some way to run connectanum package same way? Like its code can be run somehow even if app is closed.

[2020-07-20 15:35] konsultaner commented on #12
Ok, i got it. This is a flutter specific question and should be asked in the flutter repo or actually should be asked in stack overflow. I have never tried background processes with flutter. But it should be possible i guess.

[2020-09-02 11:53] andzejsw opened #13 "Incompatibility error with latest Flutter version"
When i tried to run `flutter upgrade` command, error appeared:
[code]

[2020-09-02 11:58] andzejsw commented on #13
[code]
These commands allows me to upgrade to latest flutter. Mut maybe there could be something done also in this package.

[2020-09-03 07:15] #13 closed

[2020-09-09 09:57] CoDeRgAnEsh opened #14 "Support for retention of event messages emitted from Publisher and retrieve from Subscriber end"
It will be good if 'Event History' feature is implemented in dart.

Like when publishing an event, the publisher can set an option (retain=True) in the `PublishOptions` which will cause the Broker to retain the event being published as the most-recent event on this topic.

Same upon subscription, a client can pass (get_retained=True) in the `SubscribeOptions`. If there is any retained event, it wi

[2020-09-09 13:38] #14 closed

[2020-09-09 13:40] konsultaner commented on #14
this feature is [called event retention](https://github.com/wamp-proto/wamp-proto/blob/master/rfc/text/advanced/ap_pubsub_event_retention.md) and is added in 1.0.6

[2020-09-09 13:48] CoDeRgAnEsh commented on #14
Thanks @konsultaner for this feature implementation ✌️

[2020-10-30 07:47] jiajun-ifanr opened #17 "Is there a way to send options when subscribe?"
In line 27 of `example/main.dart`, it demonstrates an example of how to subscribe to a topic:

[code]

But what about sending options when subscribe?

I want to pass a Map like `{"a": 123}` as an option to the server as it is required.

Is there a way to do this?

I see that there is a second parameter `SubscribeOptions` that has three variables: `match`, `meta_topic` and `get_retained`, but have

[2020-10-30 09:09] konsultaner commented on #17
The `SubscribeOptions` are used to support WAMP advanced fatures like [Pattern Based Subscription](https://wamp-proto.org/_static/gen/wamp_latest.html#pattern-based-subscriptions) . This is where you need the `match` option.

Since dart does not support a reflection api, I hard coded all SubscribeOptions that I knew exists.

What are the information you want to share during the subscription proces

[2020-10-30 10:04] jiajun-ifanr commented on #17
I have an issue when passing an options (or even without one) on subscribe.

Say for example I have the following code in my `main.dart`, (without a `SubscribeOptions` passed):

[code]

When the above code executes, there are two errors shown:
1. Unhandled Exception: Bad state: No element
2. Unhandled Exception: NoSuchMethodError: The getter 'inMilliseconds' was called on null.

I can't figure out

[2020-10-30 16:10] konsultaner commented on #17
The exception 1 is thrown because the socket is closed by the router before the subscribe receives the subscription.

I don't get why exception is thrown, because there is a nullpointer check.. weired. I can't reproduce number 2 with my code.

[code]

This is not possible at the moment. I could implement it.

[2020-10-31 02:38] jiajun-ifanr commented on #17
Many thanks.

But how did you know about the cause of exception 1? Is it possible to debug WebSocket via the package or could you recommend any methods (like Charles) to debug by myself? I've searched for answers with no hope for quite some time now.

Also, is it possible to throw an error message with better explanation about the exception rather than `Bad state: No element` since it might be con

[2020-10-31 12:44] konsultaner commented on #17
@jiajun-ifanr I wrote a little unit test based on you code:

[code]

You need to know that this package uses the transport streams and wraps a broadcast stream pre session around it. This way the broadcast stream may be closed safely and may be listened to multiple times.

https://github.com/konsultaner/connectanum-dart/blob/322a483c96acc841018dc63410dbfd0e48f557cf/lib/src/protocol/session.dart#L1

[2020-10-31 13:27] konsultaner commented on #17
@jiajun-ifanr I have tried some code where you can so something like this

[code]

This makes it possible to pass a custom field with a custom serializer for either msgpack or json to a subscribe option. I tried it with your code an the server responded with a subscribed as expected. I will publish the code soon. I just need to write some tests and add the custom options to all the other message t

[2020-10-31 14:30] #17 closed

[2020-10-31 14:31] konsultaner commented on #17
I only added custom options for subscriptions for now. If you need it for registrations too, plz open a new issue

[2020-10-31 15:40] jiajun-ifanr commented on #17
Thanks a lot for your help!

I can now successfully subscribe to a topic and receive responses from our server.

But I still can't print out what the server has responded since the `event.arguments` (or anything in `event`) is always `null`:

[code]

It is believed that the server has sent valid information to a client (my JS client does receive it correctly) but I will have it checked with my col

[2020-11-02 07:00] konsultaner commented on #17
I'll check that in a minute.

Never mind! 😄 A ⭐ is enough

[2020-11-02 08:37] konsultaner commented on #17
@jiajun-ifanr I cannot debug it anymore, I get this error: `Permission denied, please call login function first.`

[2020-11-02 09:35] jiajun-ifanr commented on #17
@konsultaner Please try and update the `wss` url with the following:

[code]

`event.arguments` might only be printed out when the server responds. If you need me to send a response to the client, please let me know.

[2020-11-02 09:39] konsultaner commented on #17
Could you send a respond every 1000ms?

[2020-11-02 09:55] jiajun-ifanr commented on #17
@konsultaner Yes, now I send one every 3000ms

[2020-11-02 09:59] konsultaner commented on #17
Your server has a wrong message encoding, the null values are wrong:

[code]

[2020-11-02 10:04] konsultaner commented on #17
sorry. I see this should still work

[2020-11-02 10:07] konsultaner commented on #17
@jiajun-ifanr The issue is that you printing args but argKwds.

[code]

this works

[2020-11-02 10:28] jiajun-ifanr commented on #17
@konsultaner  Perfect! I can now get it work.

Thank you for all your support and kindness throughout the entire problem-solving process.

[2020-11-02 10:46] konsultaner commented on #17
@jiajun-ifanr I'm very eger to make this module work as good as possible. I have not used it in production but I will soon. So having people to test it for me is just perfekt. So you helped me too. 😅

[2021-02-04 10:52] jiajun-ifanr opened #18 "Support for dynamic reconnectTime in method `connect`"
Would it be good to support dynamic reconnectTime when calling the `connect` function?

For instance there is a scenario that one needs to retry 10 times when the network is suddenly disconnected.

The initial `reconnectTime` is set to 1 second. However in each retry this reconnectTime is increased by 1s.

For example, it will only take 1 second in the first retry. In the next retry it will take 2

[2021-02-04 19:46] oberstet opened #19 "Support for WAMP Cryptosign authentication"
Are there plans to support WAMP Cryptosign as authentication method (for clients)?

[2021-02-05 07:53] konsultaner commented on #19
I could do it. There is no real roadmap for this package. I implement things as needed. Do you want to use the package and need WAMP Cryptosign?

[2021-02-05 08:04] konsultaner commented on #18
I'll think about it. Seems like a good idea.

[2021-02-05 10:29] oberstet commented on #19
So Flutter/Dart is currently strong contender for mobile in this project I'm working on (not my final decision), but yes, we need WAMP and WAMP-cryptosign, and we'd would love to use connectanum-dart! I can invest time in this, help, test, etc .. but I'm a Dart dummy (and have no time to learn it quickly right now ..) .. the Dart people on the team would use it for our app code then ..

[2021-02-05 13:16] konsultaner commented on #19
@oberstet yes, sure. I'll start working on an implementation. You did so much for me, I basically owe you that ;)

[2021-02-05 13:21] oberstet commented on #19
that's cool, thanks a lot=) pls let me know should you have questions rgd wamp-cryptosign or such. because (you know that) the docs ... well;) code wise: both crossbar and all autobahns fully implement it, and we do use it in production. so it is real. and yes: we should totally have complete correct spec text for it .. yeah, and the day should have 48h;)

[2021-02-05 13:32] konsultaner commented on #19
Yes, I know... 48 would be nice. I'll try my best to adopt:

https://github.com/crossbario/autobahn-python/blob/master/autobahn/wamp/cryptosign.py
https://github.com/crossbario/autobahn-js/blob/2205e84859927cf89b7ed1bda360d52439ab9dc2/packages/autobahn/lib/auth/cryptosign.js

And this for my router:

https://github.com/crossbario/crossbar/blob/master/crossbar/router/auth/cryptosign.py

@oberstet a

[2021-02-05 13:35] oberstet commented on #19
^ those links: exactly!

more links:

* https://github.com/crossbario/crossbar-examples/tree/master/authentication/cryptosign/static
* https://github.com/crossbario/autobahn-js/blob/master/packages/autobahn/test/test_cryptosign.html
* https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/io/crossbar/autobahn/wamp/auth/CryptosignAuth.java

[2021-02-05 13:37] om26er commented on #19
Not a Dart person here, but I did the Java implementation of CryptoSign. So should probably be able to provide some testing/feedback/help as well.

[2021-02-05 13:38] konsultaner commented on #19
@om26er, @oberstet  awesome! With this help, it'll take not too long to finish it. great!

[2021-02-05 14:09] oberstet commented on #19
awesome, I love open source=)

---

one hint that might be worth mentioning: for wamp-cryptosign support, all autobahns add a dependency to libsodium https://doc.libsodium.org/ for all the underlying crypto.

that is: wamp-cryptosign is just a combination of the primitives exposed in libsodium or NaCl http://nacl.cr.yp.to/

a quick web search for "libsodium dart" turns up https://github.com/firstf

[2021-02-05 14:21] konsultaner commented on #19
This is good for a fast support. It has always been the goal to support all plattforms with this library, including web and Win/OSX/Linux. Using flutter_sodium will exclude the web support and win/mac/linux as far as I can see. That sucks a little bit. Maybe its possible to extend flutter_sodium with the missing support. I'll dive into this project after dinner...

[2021-02-09 13:22] konsultaner commented on #19
@oberstet what do you think about this lib: https://pub.dev/packages/pinenacl
Its 100% dart code and thus 100% crossplattform.

@oberstet Could you provide a test-vector like done [here](https://github.com/crossbario/crossbar-examples/tree/master/authentication/cryptosign/function)? Just more detailed?

Like:

[code]

[2021-02-09 13:24] konsultaner commented on #19
@oberstet the credentials don't change during a reconnect right? So the may be final? I somewhere read something about a token that was related to cryptosign. What is this token for or did I read it wrong?

[2021-02-11 21:45] konsultaner commented on #19
@oberstet I started implementing it. If you could help me with the test vector:

https://github.com/konsultaner/connectanum-dart/blob/df657f7a2c8e6bd0892d473c5b930c68b3ea7f4c/test/authentication/cryptosign_authentication_test.dart#L9

@oberstet I also saw that you are using an activation key. is this cryptosign related or is this for xbr only? Should I also implement it?

[2021-02-11 22:13] oberstet commented on #19
ah, sorry, I missed this notification!! anyways, yes, here you are:

https://github.com/crossbario/autobahn-python/blob/master/autobahn/wamp/test/test_wamp_cryptosign.py

test locally:

[code]

![Bildschirmfoto von 2021-02-11 23-12-41](https://user-images.githubusercontent.com/233340/107705187-a8696e80-6cbe-11eb-8cbb-71f032c5eab4.png)

[2021-02-11 22:14] oberstet commented on #19
specifically, these 2 test (we can add more of course .. eg test vectors you come up with or sth):

https://github.com/crossbario/autobahn-python/blob/df94e5f5e79e5d597d27159ea5ab0811e22ae8e8/autobahn/wamp/test/test_wamp_cryptosign.py#L74
https://github.com/crossbario/autobahn-python/blob/df94e5f5e79e5d597d27159ea5ab0811e22ae8e8/autobahn/wamp/test/test_wamp_cryptosign.py#L84

[2021-02-11 22:19] oberstet commented on #19
ok, above unit test code currently reads the private key used to sign the test vector challenge (32x xFF) from OPENSSH PRIVATE KEY via `self.key = SigningKey.from_ssh_data(keybody)`

this isn't actually that good .. because reading a key from openssh text key is yet another, special feature.

we can totally add creating a SigningKey from a bytes literal (whatever 32 bytes hardcoded in the test) us

[2021-02-11 22:22] oberstet commented on #19
so we need to agree on say

[code]

and then check the signature resulting

[2021-02-11 23:23] oberstet commented on #19
Test vectors:

[code]

-----

rgd activation keys:

activation keys are transported transparently in `authextra` - but not in computing the challenge or signature

these are used to eg onboard new clients (accept their pubkeys and associate them with users).

so the option for the app developer to provide a general authextra would be indeed good!

[2021-02-12 11:20] konsultaner commented on #19
@oberstet Thx, helped a lot. I'll finish it with the given vectors :) extending `authextra` is somehow possible. since dart does not support reflections, its a bit tricky to make this work in a simple way. But I'll find a nice solution.

[2021-02-12 16:44] oberstet commented on #19
also, fwiw, I've added above test vectors to autobahn

![Bildschirmfoto von 2021-02-12 17-44-11](https://user-images.githubusercontent.com/233340/107796333-039c6f00-6d5a-11eb-8678-1ee92306590c.png)

[2021-02-15 08:58] konsultaner commented on #19
When I run the tests I get `Skipped: nacl library not present`. What am I doing wrong here?

[2021-02-15 09:57] andzejsw opened #20 "Custom HttpHeaders"
Is it possible to send custom HttpHeaders? For my project there is need to specify them.

[2021-02-15 10:29] konsultaner commented on #20
You could definitly do it by extending one of the transport classes

´´´dart
// Start a client that connects without the usage of an authentication process
  final client1 = Client(
      // The realm to connect to
      realm: 'demo.connectanum.receive',
      // We choose WebSocket transport
      transport: MyCustomWebSocketTransport( ///<---------------- write your own
        'wss://www.conne

[2021-02-15 10:31] konsultaner commented on #18
@jiajun-ifanr  I'm on it! Havn't  had time to work on this yet. I hope you can wait a little longer

[2021-02-15 10:37] andzejsw commented on #20
Ok tnx. I will take a look.

[2021-02-15 10:52] andzejsw commented on #20
And I want to do it on iOS.

[2021-02-15 12:19] oberstet commented on #19
you need to install the required dependencies by doing `pip install autobahn[all]`(or at least `pip install autobahn[encryption]` or `pip install -e .[all]` when installing from source repo).

looks like this https://gist.github.com/oberstet/2a1f559e2334dcbf5534bd7cec9fc45d

[2021-02-15 13:22] konsultaner commented on #19
@oberstet I had to update the vectors to use no channel binding. Do you need channel binding in your upcoming project?

[2021-02-15 15:27] oberstet commented on #19
@konsultaner channel binding is not absolutely required: if the client does not announce it, crossbar won't use it. it'll make it slightly less secure (there is an attack scenario .. but it is very very advanced)

[2021-02-15 20:45] konsultaner commented on #19
@oberstet ok, ill be ignoring it for now. I could not find a way to get the tls channel id from darts secure socket implementation. If you want me to implement it, just open another ticket. I will merge the branch this week. The tests were successful.

[2021-02-15 21:21] oberstet commented on #19
* rgd tls channel ID: yeah, this is an advanced thing and highly depending on the tls library in use. I have no clue about Dart. fwiw, openssl has it, but python doesn't expose it, so we do some hacks to get it https://github.com/crossbario/autobahn-python/blob/306569985f3a4ae55e209588c7f6d873f37dfa8b/autobahn/twisted/util.py#L100
* autobahn python on twisted is the only autobahn that supports it

[2021-02-15 21:23] oberstet commented on #19
for the record, above link points to code comments that clarify what tls channel binding actually provides, and why it's useful:

[2021-02-16 08:50] andzejsw commented on #20
It looks like, that I will need help this one. I have no idea how to add logic for my custom socket transport class, so that plugin sends specific header.

[2021-02-17 23:36] konsultaner commented on #19
@oberstet the merge to master will take some more time. I want to support putty-file and pem-file loading as well. would make it easier for people to use it on win or linux/mac

[2021-02-17 23:37] konsultaner commented on #19
your collegue may as well just checkout the dev branch for this issue. It should work for basic tests.

[2021-02-17 23:49] oberstet commented on #19
awesome! yes, support loading keys from SSH .. Putty ... OpenSSH key files. very useful.

eg one can add strong auth for WAMP and let the user simply use the key already available.

fwiw, in autobahn python, we support that via https://github.com/crossbario/autobahn-python/blob/306569985f3a4ae55e209588c7f6d873f37dfa8b/autobahn/wamp/cryptosign.py

we also support interaction with OpenBSD "signify"

[2021-02-19 05:47] jiajun-ifanr commented on #18
No problem! Thank you!

[2021-02-19 10:52] andzejsw commented on #20
Big tnx. I made my own socket transport using code from WebSocketTransport class. And then added just my headers for WebSocket.connect.

[2021-02-19 10:52] #20 closed

[2021-02-19 15:35] konsultaner commented on #19
@oberstet The plan is to support pkcs8 and pkcs1 as well as openssh and putty. I think all key gathering mechanisms should be implemented by people using this package? Especially because flutter/dart is targeting several plattforms. Maybe there is a dart package that does all that stuff like:

rgd signify, do you have a link to the format definition?

[2021-02-19 15:57] oberstet commented on #19
yes, I agree, ideally. I mean, WAMP-cryptosign uses Ed25519, and there are simply multiple "formats" or ways to create such signatures. The authentication method in WAMP doesn't care if the user computes the signature on pen & paper .. as long as the handshake doesn't timeout;)

couple of links rgd signify .. "formal definition": would be good, yes. I don't have one at hand. then it seems easy eno

[2021-02-20 11:03] #19 closed

[2021-02-20 16:16] oberstet commented on #19
hooray! awesome=) so the upcoming 1.0.14 will have it released I guess:

[code]

[2021-02-20 16:36] konsultaner commented on #19
Exactly 😁

[2021-02-24 17:01] konsultaner commented on #7
Seems like its going to happen zoon: https://github.com/bcgit/pc-dart/issues/23

[2021-03-08 08:44] andzejsw opened #21 "Need extra exports from package"
Hi. I would like to have, that following dart files are exported from package:
[code]
Currently "Dart analysis" shows for me warning, when I import these files. So it would be nice if `connectanum.dart` file also exported these files.

[2021-03-08 09:58] #21 closed

[2021-03-08 09:58] konsultaner commented on #21
did it

[2021-03-08 10:00] andzejsw commented on #21
Thanks. You really are the best!

[2021-03-12 10:05] andzejsw opened #22 "Null safety support"
Package currently isn't supporting flutter 2.0 null safety logic.

[2021-03-12 17:49] konsultaner commented on #22
I thought about it and found out that at the moment not all deps have nullsafty yet. I will start working at this as soon as all deps are nullsafe.

[2021-03-13 07:20] konsultaner commented on #18
@jiajun-ifanr could you try this:

https://github.com/konsultaner/connectanum-dart/blob/c21eb2a9cf68d1540d7acd33cb46ecf3da165d81/example/main.dart#L22

[2021-03-13 22:06] konsultaner commented on #19
@oberstet I added decoding openssh keys with password protection. Just to keep you updated.

[2021-03-15 13:52] andzejsw commented on #22
**Dependencies:**
pointycastle: Prerelease: 3.0.0-nullsafety.2
logging: 1.0.0 null safe
pedantic: 1.11.0 null safe
meta: 1.3.0 null safe
msgpack_dart: 1.0.0 null safe
saslprep is your package @konsultaner as far as i understand. So looks like that all main dependencies are nulls safe.

Also both dev dependencies are null safe.

[2021-03-15 17:20] konsultaner commented on #22
Seems like I have to start earlier then I thought. The problem I saw was bouncy castle. It kind of stopped development. Seems like they have continued there work. Thanks for checking my deps ✌️

[2021-03-15 19:09] konsultaner commented on #19
@oberstet Digging into this whole private key encryption topic led me into this [hint from wikipedia](https://en.wikipedia.org/wiki/PBKDF2#Alternatives_to_PBKDF2)

I think it would be nice to have a WAMP-Cryptobox format that uses an ASN.1 Structure, or maybe just a copy of PKCS #8 but uses Argon2 instead of PBKDF2. Just like we have it in SCRAM? What do you think about it?

[code]

[2021-03-15 19:50] oberstet commented on #19
oh, that's cool!

I mean, all these methods make sense depending on situation:

1. let SSH agent handle signing data (and hence private key unlocking, and whatever KDF is used in that)
2. load private key directly from file, where the key isn't passphrase protocted
3. load private key directly from file, where KDF == whatever OpenSSH also supports

now, I actually don't know what KDFs are supporte

[2021-03-15 20:02] oberstet commented on #19
as mentioned: if openssh itself supports Argon2, I'd be definitely +1
if not, then "maybe" .. and the kinda meta argument is:

in a way being compatible with the supported key format of openssh allows me to use this _external_ tool (openssh) for key generation, key export, whatever .. a 2nd tool (besides the WAMP client library) ... this is good! and we would loose that if we invented an extension

[2021-03-16 06:23] konsultaner commented on #19
True I keep mixing it up.

@oberstet Your right... this doesn't really make 100% sense. I just thought of a way to make it more safe. I think I remembered that autobahn-js stored the private key into the local storage. So I thought it would be nice if you could read the existing formats (what i am working on atm) but export/store them in a more secure way. Or even if you want to share the key betw

[2021-03-17 00:28] oberstet commented on #19
I had a quick look: as far as I see, the openssh key format

https://coolaj86.com/articles/the-openssh-private-key-format/

_could_ in principle store eg "argon2id" as kdf name, but openssh itself only supports "bcrypt":

https://github.com/openssh/openssh-portable/blob/5ca8a9216559349c56e09039c4335636fd85c241/sshkey.c#L3924

we could ask / and or just extend and move ahead ... however, then we ne

[2021-03-17 15:31] konsultaner commented on #19
@oberstet I sent a FR to openssh. Lets see what they say.

[2021-03-18 17:06] oberstet commented on #19
@konsultaner Hi Richard, wanted to take the chance to introduce you to my collegues James https://github.com/jyzhang (PST timezone) and Sergey https://github.com/timeout2x (CET timezone) who will work on the Dart/Flutter side of the project/product I'm also part of. One thing I'm unsure: 1.0.14 is not yet released, right? which would explain that there isn't a tagged version yet;) np, so currently

[2021-03-18 18:12] konsultaner commented on #19
No I wanted to at least have all tests written for the current code until I release. I'll try to make that happen until the end of next week. We'll see.

Actually there is someone that uses this lib with crossbar already. He added the other issues and it seems to work. I haven't used it in production yet, but have a project that works with connectanum. If you want to use raw sockets, be aware that

[2021-03-18 18:25] oberstet commented on #19
thanks for the example! much appreciated.

cool! that sounds great.

I think that should be fine ...

[2021-03-19 03:00] oberstet commented on #19
Ok, I would love to try it myself.

As said, I don't know Dart, but it seems easy enough to read and copy-pasta stuff together. Code wise. Btw, the API of connectanum seems nice and straightforward .. I can deal with that! kudos.

Anyways, this is what I have: https://github.com/oberstet/scratchbox/tree/master/flutter/ex1

Now I'm stuck on:

[code]

Likely I am missing a trivial change or what ..

[2021-03-19 06:28] konsultaner commented on #19
As I see it `flutter pub get` only gets released versions of packages on [pub.dev](https://pub.dev/packages/connectanum) . I'll try to get it done today.

[2021-03-19 06:30] konsultaner commented on #19
rgd my example from above. My connectanum demo does not support cryptosign yet. You may have to exchange the router url.

Thanks :)

[2021-03-19 10:55] konsultaner commented on #19
@oberstet I released version 1.1.0

[2021-03-19 12:02] oberstet commented on #19
thanks! unfortunately, sth is still wrong:

![Bildschirmfoto von 2021-03-19 13-00-25](https://user-images.githubusercontent.com/233340/111777168-3682d700-88b3-11eb-9254-4f06f7f525d3.png)

ok, got it. I'll swap the URL etc once I have it starting at all in the first place ...

[2021-03-19 12:30] oberstet commented on #19
it seems the error is purely client side .. I don't see any connection attempt server side. here:

![Bildschirmfoto von 2021-03-19 13-26-22](https://user-images.githubusercontent.com/233340/111779766-ce35f480-88b6-11eb-8ed4-f65efc33be78.png)

----

the xbrnetwork client run on the left side results in the connection seen on server side (right)

the dart client does not result in a connection attem

[2021-03-19 12:32] konsultaner commented on #19
@oberstet I also updated the version, because I forgot to export the cryptosign authmethod in the api.

I'll have a look at the channel binding bug

[2021-03-19 12:33] konsultaner commented on #19
@oberstet could you push your current code to the repo?

[2021-03-19 12:48] oberstet commented on #19
ok, pushed my code - I kept my "real" test URL, but removed my priv key, but that should still allow you to test the authentication up to a point directly using that test_client.dart

---

rgd channel binding:

the client should only send a channel binding ("tls unique") when: it runs TLS _and_ when it knows how to deal with it

https://github.com/crossbario/crossbar-examples/blob/fbc60b2dcbd848e9

[2021-03-19 13:02] konsultaner commented on #19
@oberstet I actually get that error from the server:

![image](https://user-images.githubusercontent.com/2699538/111783966-19ea9d00-88bb-11eb-97d0-212c008370c5.png)

This is the hello:

[code]

This is the authextra part:

[code]

[2021-03-19 13:05] konsultaner commented on #19
Isn't that against the protocol? `[HELLO, Realm|uri, Details|dict]`

Shouldn't that be somehow propagated within the Hello for some reason? How do you create the Hello?

Like this: `[HELLO, null, Details|dict]`

[2021-03-19 13:09] oberstet commented on #19
I guess "null" != null could be a reason. both for realm and for channel binding.

[2021-03-19 13:23] konsultaner commented on #19
Ok, the I'll change that. When adding using `null` for channel binding, I get this:

`[3,{\"message\":\"Odd-length string\"},\"wamp.error.runtime_error\"]` I guess this is the wrong pubkey?

[2021-03-19 13:59] konsultaner commented on #19
@oberstet I updated to 1.1.2 with null possible in realm and fixed channel binding

[2021-03-19 15:36] oberstet commented on #19
sorry, was away in a call. ok, progress! almost there I guess.

however, the pubkey sent in authextra is still wrong:

[code]

expected:

[code]

pls see here (I pushed my latest code):

![Bildschirmfoto von 2021-03-19 16-32-21](https://user-images.githubusercontent.com/233340/111805278-2843b380-88d1-11eb-8929-51f284d6c86b.png)

[2021-03-19 15:38] oberstet commented on #19
the actual error the client is ending on: not relevant I guess .. I can see server side that it tries to connect 10x, fails all, and then exits with

[code]

[2021-03-19 15:40] oberstet commented on #19
the server side authenticator checks:

[code]

[2021-03-19 15:57] oberstet commented on #19
aah, ok, the fix would be easy:

[code]

I don't know how to use a locally modified version of the connectanum. should I prepare a PR? but doing releases all the time .. mmh. Is there any way of using the lib or a locally modified lib? How do I do that? I can deal with Dart .. but I lack the basics of doing local dev;)

![Bildschirmfoto von 2021-03-19 16-54-10](https://user-images.githubuserconten

[2021-03-19 16:05] liquidiert commented on #19
If I may interfere :D You can just clone the repo and use it as a [path dependency](https://dart.dev/tools/pub/dependencies#path-packages) :)

[2021-03-19 16:16] konsultaner commented on #19
@oberstet is this what makes it work? If so I could release again.

[2021-03-19 16:26] oberstet commented on #19
@liquidiert thanks! I am still struggling with this. if you can get me over these newbie build hurdles, I guess I can fix the code, verify it works, and do a PR. Dart the language seems easy enough to pick up on the fly.

![Bildschirmfoto von 2021-03-19 17-25-00](https://user-images.githubusercontent.com/233340/111812278-3fd26a80-88d8-11eb-9b00-206b01870be0.png)

[2021-03-19 16:31] konsultaner commented on #19
@oberstet you could also execute your testcode from a test file within the package. Testing ist very simple with dart. just run `dart test` thats it.

[2021-03-19 16:45] oberstet commented on #19
^ ok, thanks alot! I got it working:

https://github.com/konsultaner/connectanum-dart/pull/23

![Bildschirmfoto von 2021-03-19 17-43-10](https://user-images.githubusercontent.com/233340/111814467-c7b97400-88da-11eb-92d4-0ce49876da33.png)

let me do some more testing, add some actual rpc/pubsub etc before merging/releasing!

[2021-03-19 16:46] liquidiert commented on #19
@oberstet I think you're just using the wrong imports. If you declared connectanum as a path dependency you can import it the usual way `import 'package:connectanum/connectanum.dart';` :D

[2021-03-19 16:46] liquidiert commented on #19
Oh nvm then :)

[2021-03-19 16:48] liquidiert commented on #19
Actually I wanna use the crossover to thank both of you! Really great projects which I love using! Keep up the good work :+1:

[2021-03-19 16:49] liquidiert commented on #19
Actually I wanna use the crossover to thank both of you! Really great projects which I love using! Keep up the good work :+1:

[2021-03-19 18:24] jyzhang commented on #19
Thank you guys for pushing out the new release.

You can actually install directly from git: https://dart.dev/tools/pub/dependencies#git-packages

[2021-03-19 20:19] oberstet commented on #19
@jyzhang actually, the working one (I verified that against our cloud endpoint) needs https://github.com/konsultaner/connectanum-dart/pull/23 .. either use that branch, or install from that branch (if pubspec.yaml supports that), or wait until Richard has pushed a new release ..

[2021-03-19 21:31] konsultaner commented on #19
@jyzhang I didn't know, nice.

@oberstet I merged it. I will wait for 1-3 until I release again since using git as dep works.

[2021-03-20 10:20] oberstet opened #25 "Binary support in JSON"
WAMP defines an extension to standard JSON that allows transparent support for binary value:

https://wamp-proto.org/_static/gen/wamp_latest_ietf.html#rfc.section.15

AutobahnPython and AutobahnJS support that - would be great to have it in connectanum-dart as well. It's pretty useful, and (in practice) doesn't cause issues (in most host languages)

[2021-03-20 13:10] konsultaner commented on #25
Do you mean that in conjuntion with https://github.com/wamp-proto/wamp-proto/issues/228 ? Or in general?

[2021-03-20 14:00] konsultaner commented on #25
I'll implement it in general, just saw that I forgot about transparent payload as well 🤯

[2021-03-20 14:36] #25 closed

[2021-03-20 19:53] oberstet commented on #25
No, in general. Payload transparency is a mode where the whole args/kwargs is not a structured object, but itself just a binary value opaque to the router. Hence the name "payload transparency".

JSON binary supports allow you to eg do a call with

[code]

or

[code]

Hence the JSON serializer/deserializer must be able to traverse/process binary values deep inside structured app payload.

In Autob

[2021-03-20 23:18] konsultaner commented on #25
Yes I Did it that way 😊

[2021-03-20 23:20] konsultaner commented on #25
I already pushed and released it

[2021-03-21 00:04] oberstet commented on #25
^ ok, I tested it: seems to work!

[2021-03-21 18:15] oberstet opened #26 "WAMP IDL support"
Ok, this is an advanced, more complex topic. Let me see if I can find a way to explain it properly. Bare with me, you'll need some patience;) Let me assure you: it's worth it. You will see the light;) Hopefully. Maybe also wrong to explain all that here on the issue tracker for connectanum-dart. It'll be long, multiple comments. Anyways, here we go.

# Intro and the Why?

WAMP was designed along a

[2021-03-21 20:04] konsultaner commented on #26
I do absolutly understand these issues as I have experienced them too. Do you remember asking me if you are interested in supporting my new protocol idea? My idea does not yet overcome all of these thoughts but maybe we should talk about it. I bet you would like some of my ideas 🤔 maybe not.. but thinking is never wrong 😇😅

[2021-03-21 20:25] oberstet commented on #26
sure, talking is always good! also general protocol ideas.

having said that:

* we have a Flatbuffer schema based IDL for WAMP that can be used with WAMP as is
* that is implemented in ABPy, ABJS and ABJ
* we also have WAMP itself in Flatbuffer define (though that is only experimental in ABPy)
* my main problem is my work load / lack of time;)

just wanted to "manage expectations" ...

----

now,

[2021-03-21 20:27] oberstet commented on #26
if you want, we could have a 1:1 call coming days .. just let me know, ping me here, or via Signal or Keybase https://keybase.io/oberstet .. we can have a call via Signal or our Jitsi meet ..

[2021-03-22 20:36] konsultaner commented on #26
Perfect, lets do that. What time and day is best for you?

[2021-03-22 23:38] oberstet commented on #26
thursday - saturday, between say 12:00-24:00 =) pretty much as you like within that ..

[2021-03-23 06:59] konsultaner commented on #26
right :D

[2021-03-23 07:20] konsultaner opened #27 "Add trace to info logging"
It should be possible to trace debug the client. Logging should be added through out the entire code.

[2021-03-23 17:25] oberstet opened #28 "v1.1.5 doesn't work .."
with our test endpoint: it immediately reconnects (server side succeeds, client reconnects)

![Bildschirmfoto von 2021-03-23 18-23-29](https://user-images.githubusercontent.com/233340/112190027-e6827800-8c04-11eb-96ac-6fe6f66b0d6d.png)

my branch does work:

* https://github.com/oberstet/connectanum-dart
* https://github.com/oberstet/scratchbox/blob/master/flutter/ex1/test_client_wampcs.dart
* htt

[2021-03-23 17:26] oberstet commented on #28
sorry, I don't have time to track this down - we'll continue using my branch for now, but obviously, would be great to have a working release on https://pub.dev/packages/connectanum/

[2021-03-23 18:08] konsultaner commented on #28
Is it possible for me to connect to your testendpoint? Would make it easier to find the issue. You can also email credentials if needed.

[2021-03-23 19:49] oberstet commented on #28
sorry, had a call. anyways, easiest would be to just "onboard" yourself. here is how:

install autobahn:

[code]

check:

[code]

start onboard:

[code]

you should get an email. with codes - complete onboard:

[code]

then:

[code]

you now can test against the URL, and using the key stored in `~/.xbrnetwork/config.ini`

I just retried, here is a complete log: https://gist.github.com/oberstet/db0

[2021-03-23 21:40] konsultaner commented on #28
This runs:
[code]

This doesn't:
[code]

I'm on a windows 10 machine. `wamp.exe` has been compiled, just the `xbrnetwork` has no executable.

[2021-03-23 21:42] konsultaner commented on #28
`make install` crashes:

<details>

[code]

</details>

[2021-03-23 22:08] oberstet commented on #28
for windows, this reduced set should work:

[code]

I can't test, as I don't have windows anymore. I've tested above on Linux (and it works): https://gist.github.com/oberstet/e0e5d993ef42f0dafa101463127172d8

rgd the single-file EXE for windows: in principle, that is possible, and I guess I could make it work. but I would expect this to cost at least half a day .. hard to justify for me now. why a

[2021-03-23 22:50] konsultaner commented on #28
I know... don't ask me. I just never switched. 🙈

[2021-03-23 22:53] konsultaner commented on #28
dont worry I'll get it to run somehow.

[2021-03-24 07:35] konsultaner commented on #28
This takes for ever. Any idea on how to speed this up. I had it run for 8h and it would not finish.

[2021-03-24 09:15] oberstet commented on #28
yes, use pip<20

https://github.com/crossbario/crossbar/blob/b4172870d077a147d5854d3aa8f5a8168e319c22/requirements-dev.txt#L17

the reason is: pip >= 20 hjas introduced a braindead new dependency resolver that doesn't really work (for dependency graphs with multiple confluent paths to the same dependent)

[2021-03-24 10:16] konsultaner commented on #28
this worked!

I can't call the `xbrnetwork version` command. `xbrnetwork` is unknown executable. Do I have to call it through python? I've never used python in production. I'm a dead beginner here..

[2021-03-24 11:02] oberstet commented on #28
try: `python -m autobahn.xbr._cli version`

[code]

[2021-03-24 12:45] konsultaner commented on #28
Where do I get:

- XBR data market URL
- WAMP realm of the XBR data market
- private Etherum key (do i need a eutherium wallet here?)

[2021-03-24 14:49] oberstet commented on #28
^ for the purposes of testing WAMP-cryptosign, you can just connect not to any "data market" (but see below), instead to global realm `xbrnetwork` - in which case market URL isn't needed and any Eth key (such as one random generate when running xbrnetwork CLI) can be used

once you have onboarded via above command, additionally, a member realm `member-<member_uuid>` is created and dynamiclly start

[2021-03-25 07:16] konsultaner commented on #28
What can I do with that?
`no such profile: "default"`

[2021-03-25 07:38] jiajun-ifanr commented on #18
@konsultaner I tried with the above example, but it seems like it will reconnect only when a session is being initialized. When a function is passed to `_client.onNextTryToReconnect.listen`, and while it is reconnecting, the function doesn't execute.

I want retries are made when a connection is ongoing and very suddenly the network is disconnected due to some network issues (e.g. connection lost

[2021-03-25 08:29] konsultaner commented on #18
What transport do you use? Actually it should also work on connection loss.

https://github.com/konsultaner/connectanum-dart/blob/a1de7e3562514f67ebe47a899fffb9ab5b104efb/lib/src/client.dart#L88

[2021-03-25 08:31] konsultaner commented on #18
No, you're right.. it does not push the event...

[2021-03-25 08:35] konsultaner commented on #18
I added a quick fix. but I need to write some tests on it... Should work if you use the latest master

[2021-03-25 08:41] #18 closed

[2021-03-25 09:03] oberstet commented on #28
could you fix the library or should we continue to use my fork?

[2021-03-25 09:15] jiajun-ifanr commented on #18
Looks like it works. Thanks again!

[2021-03-25 09:53] konsultaner commented on #28
I'm trying to get xbrnetwork to run. But I'm stuck with this:

[2021-03-25 15:34] konsultaner commented on #28
This is actually not a bug. You used connectanum-dart in a test (what I recommended). The problem here is that if the testcase has has been executed, the test suite of dart interrupts all connections. This way we get a "connection loss". the client reconnects with the initial attempt count. Since the first retry works the reconnect count is reset again to the inital count -> infinte reconnect. Sin

[2021-03-25 15:34] #28 closed

[2021-03-25 15:39] oberstet commented on #28
ich habe https://github.com/oberstet/scratchbox/blob/master/flutter/ex1/test_client_wampcs.dart verwendet, und das geht mit meinem branch, aber nicht mit master ...

[2021-03-25 19:02] konsultaner commented on #28
I found the issue. It was the already discussed `authextra`. You send it as `<String,dynamic>` but I need it as `<String,String>`. What do you think? I kind of want to go to `<String,dynamic>`. Apart from that I have a really bad logging issue here. There is basically no logging at all. I should add a lot of logging to trace issues like that quicker...

![image](https://user-images.githubuserconte

[2021-03-25 19:16] konsultaner opened #29 "Add way more logging!"
I need more logging though out the whole package to track bugs and issues with the protocoll or messages that have been sent.

[2021-03-25 20:01] oberstet commented on #28
the top-level keys in authextra MUST be strings. everything else, that is top-level values or keys (!) of nested dicts, MAY be anything. I don't care what type the library uses internally to make Dart accept that. if it doesn't accept it, it is non-compliant / broken for our use though ...

[2021-03-25 20:50] konsultaner commented on #28
I changed it. The current master will work with your code.

[2021-03-25 21:10] oberstet commented on #28
let me test the master branch from this repo ..

[2021-03-25 22:29] oberstet commented on #28
yes, can confirm: works with master! fantastic=)

![Bildschirmfoto von 2021-03-25 23-28-25](https://user-images.githubusercontent.com/233340/112551834-f6938680-8dc1-11eb-87d5-1020c16a3197.png)

[2021-03-30 07:46] jiajun-ifanr commented on #18
Hi @konsultaner , I find that after the client is reconnected, it doesn't seem to auto resubscribe to what it has already subscribed to. That's to say, it doesn't listen to data changes again.

Please take a glance at the below code as an example. It has a class called `Wamp` and it is first instantiated and connected to our server on page load. There's a `Subscribe` button and when you click on i

[2021-03-30 08:01] konsultaner commented on #18
@jiajun-ifanr Yes this is totally expected behaviour. This feature is not implemented yet. You may open a new Issue for this feature if you want it. As soon as I get the time, I will implement it. There will be an additional `subscribePermanently` as soon as it is implemented. The same issue exists with registrations. They don't stay alive. For now, you may collect your subscriptions and resubscri

[2021-03-30 10:31] jiajun-ifanr opened #30 "Resubscribe to Topics on Reconnection"
Hi, as mentioned in #18 , a `stay-alive` feature is expected to be implemented to keep subscription working after network reconnection.

[2021-03-31 14:37] andzejsw commented on #22
@konsultaner I have created new PR (https://github.com/konsultaner/connectanum-dart/pull/31) regarding this issue. Hope it will help to speed up development. :)

[2021-03-31 14:55] konsultaner commented on #22
Oh cool Thanks! What happened to the code coverage? Did you remove Tests?

[2021-03-31 15:00] andzejsw commented on #22
To be honest i don't know what is reason. I rewrited code, yo use null safety logic. That involved a lot of null checks. Possibly some of that was reason, why coverage rating decreased.

[2021-04-14 10:40] andzejsw opened #32 "Was there dublicate sessions fix from version 1.0.6 to 1.1.6"
We saw, that one user with iPhone and  "connectanum-dart" version 1.0.6 was making duplicate sessions. This issue isn't happening for any phones on version 1.1.6. Is it coincidence and there is chance, that this may occur or there was related fix during latest releases regarding this issue?

[2021-04-19 06:45] andzejsw commented on #32
Was crossbar specific version issue

[2021-04-19 06:45] #32 closed

[2021-10-24 18:23] om26er opened #35 "WAMPCRA: Only derive key when `salt` present in Challenge"
When using WAMPCRA, if the server does not send a `salt` in the challenge the Client should not try to derive the key, this is broken. It seems `connectanum-dart` does not check if `salt` is present in server's response and always tries to derive the key. This of course means the authentication fails

Here is the relevant code https://github.com/konsultaner/connectanum-dart/blob/910038b106c571abfb

[2021-10-30 02:48] oberstet commented on #35
sounds great! fwiw, here are some test vectors we use for PBKDF2 - that is what is used with salted WAMP-CRA

https://github.com/crossbario/autobahn-python/blob/a35f22eeaafca7568f1deb35c4a1b82ae78f77d4/autobahn

we should add WAMP-CRA level tests (salted and unsalted) using the vectors Richard added here ..

[2021-11-01 06:27] konsultaner commented on #35
That would be great!

[2021-11-01 08:58] konsultaner commented on #7
depends on #22

[2021-11-01 08:59] konsultaner commented on #22
@andzejsw @oberstet Could someone confirm https://github.com/konsultaner/connectanum-dart/tree/sound-null-safety does work in production? I would like to finally support sound null safety.

[2021-11-01 08:59] #35 closed

[2021-11-02 22:08] oberstet commented on #22
@konsultaner I'm not currently doing Dart stuff .. test quickly. OP might .. actually I don't know

[2021-11-03 05:07] konsultaner commented on #22
@oberstet ok, thank you! I'll merge it. Upcoming issues will be posted anyways. . So What 🤔

[2021-11-04 03:28] oberstet commented on #22
@konsultaner cool, thanks for moving things forward!

[2021-11-04 07:25] #22 closed

[2021-11-04 12:28] #7 closed

[2021-12-13 07:14] andzejsw opened #38 "Session call arguments type"
I think session.call arguments should allow `List<dynamic>?` to be set as type, instead of just `List<Object>?`, as it is currently.

PS: Very happy to see, that there is null safe version right now. Big thanks for that.

[2021-12-13 08:46] konsultaner commented on #38
@andzejsw yes I tried to replace all `List<Object>` with `List<dynamic>`... Can you link the line if code you are talking about?

I finally got to do it. I wish I had more time.

[2021-12-13 09:01] andzejsw commented on #38
This line: https://github.com/konsultaner/connectanum-dart/blob/8b22e6f140f5e2921f1b99265fc191aa60b4f8ff/lib/src/protocol/session.dart#L226

[2021-12-15 11:00] #38 closed

[2022-02-03 04:45] aarlt opened #39 "session.publish seem to stuck"
Hello!

I just discovered WAMP & your dart library. First of all, thank you for this great library. I just started to play with it a bit.

However, I'm quite new to `dart` and maybe the answer to this issue is more related to something that I'm currently not fully understanding. Sorry, if this is the case.

I'm using connectanum-dart v2.0.1.

I wrote the following test program:
[code]

The output

[2022-02-03 10:25] konsultaner commented on #39
Hi, great that you like the lib. If your router doesn't send a `PUBLISHED` message back to the client. Your await will block forever. Could you check your router wether it returns a `PUBLISHED` or not? If it does return a `PUBLISHED` this is a bug.

[2022-02-03 10:26] konsultaner commented on #39
These are the lines of code:

https://github.com/konsultaner/connectanum-dart/blob/8ec1c5f10dd9952aa839e2347f9053796ddbde37/lib/src/protocol/session.dart#L318-L340

[2022-02-03 20:05] aarlt commented on #39
Thanks a lot for answering so fast!

I did a bit debugging and it looks indeed like that my router is currently not sending the `PUBLISHED` message. The router is only creating an `EVENT` message, but `PUBLISHED` is missing.

[code]

I use `crossbar.io v21.3.1` as a router. Right now I don't do anything fancy yet. I just added a dynamic authenticator.

If I read the spec correctly, a broker need t

[2022-02-04 03:42] aarlt commented on #39
This issue seem to be related to a missing `PUBLISHED` message. My router implementation is not generating that needed message.

[2022-02-04 03:42] #39 closed

[2022-02-04 18:30] aarlt opened #40 "Session.publish with PublishOptions(acknowledge: false) waits for `PUBLISHED`"
This is a follow up of https://github.com/konsultaner/connectanum-dart/issues/39 and https://github.com/crossbario/crossbar/issues/1940.

If my understanding is correct, there is no need to wait for the `PUBLISHED` message, if `acknowledge` was set to `false`. At least the `crossbar` router seem to be implemented like this (see https://autobahn.readthedocs.io/en/latest/wamp/programming.html?highli

[2022-02-04 18:42] aarlt opened #41 "Strange behaviour of Session.publish and/or Session.subscribe"
It looks like that there is something strange with `Session.publish` and/or `Session.subscribe`. It might also be possible that something is off in my router implementation. Sorry, if this is the case.

The following program
[code]
is generating the following output
[code]

It looks like that somehow the first publish is not directly triggering the subscription handler. Also the last event seem to

[2022-02-05 19:36] aarlt opened #42 "Session.call seem to block"
Sorry, for all these issues!

I was just trying to call a registered function. This is mainly based on your examples shown in the README. It looks like that the code get stuck during the reception of the result. I'm using crossbar v21.3.1.

[code]

output:
[code]

That means, the second call is never triggered. The program seem to hang somewhere during the first call.

expected output:
[code]

[2022-02-07 07:25] konsultaner commented on #42
The issue here is that the stream of the first call is not closed. I'll have a look at it. maybe this is correct behaviour. I'll find out.

[2022-02-07 07:25] konsultaner commented on #42
Oh no, its good that someone is testing it.

[2022-02-07 08:17] konsultaner commented on #42
Yes, this was kind of a bug. I need to manually kill the stream if you don't use the `.listen()` method instead of the `await for` loop.

[2022-02-07 08:18] #42 closed

[2022-02-07 08:39] #40 closed

[2022-02-07 08:46] konsultaner commented on #41
@aarlt you are using crossbar which is much more mature then this packages. So I bet, the issue is on my side. I havn't found the issue right away. I'll fix this during the week I hope!. Pretty busy atm.

[2022-02-07 09:04] konsultaner opened #43 "Cache stored key for scram authentication"
Once the stored key was created, it is likly that a router will not change the kdf or kdf options. So caching reduces a lot of initial performance for higher kdf iteration values. Especially when using SCRAM on mobile devices.

https://github.com/konsultaner/connectanum-dart/blob/e2c9d25243ae3298038711b88705c0693639b4cc/lib/src/authentication/scram_authentication.dart#L98-125

[2022-02-17 12:56] konsultaner commented on #41
@aarlt I just took a closer look to your issue report. Actually this is absolutly expected:

[code]
The `received from <id>.push: '3'` is not awaited but totally async.

[code]

only receives a published, but not a has been receivced by the `subscriber`. So even if the await was satisfied, doesn't mean that the client has received the event. Returning the `published` is much faster then sending an

[2022-02-17 12:56] #41 closed

[2022-05-18 17:16] om26er opened #44 "Support multiple serializers"
Currently a single serializer needs to be provided to the WebSocketTransport class, it would be very useful to optionally allow to provide a list of serializers based on priority. If the router the "speaks" the first one it gets used, otherwise the next is tried.

It's more of an optimization but the binary serializers are much faster than json.

[2022-05-18 17:19] om26er opened #45 "Implement CBOR serializer"
Currently this library only implements json and msgpack serializers for WAMP. Would be good if CBOR was supported as well.

[2022-05-20 08:42] konsultaner commented on #44
@om26er serializers are not negotiated in WAMP. Not sure if I will ever implement this. I will definitly accept a PR. If you need help with this, I could support you.

[2022-05-20 08:43] konsultaner commented on #45
@om26er Thats true. I'll have a look if there is an easy way to implement it.

[2022-05-20 08:43] konsultaner commented on #45
https://pub.dev/packages/cbor

There a dart lib supporting cbor

[2022-05-30 22:41] om26er commented on #45
@konsultaner that library looks good enough. Hope we can have CBOR soonish. Ultimately I might be able to do that myself but that will likely be a few weeks once I get some time.

[2022-05-30 22:43] om26er commented on #44
Right, we essentially need to send a list of serializers that our client talks in the initial handshake. The only user-facing change would be the addition of an API that takes serializers as a list instead of the current single serializer.

[2022-05-31 16:53] konsultaner commented on #44
@om26er Could you get me more details on that? You want to extend the `HELLO` with a list of serializers and the `CHALLENGE` will tell the client what serializer to use?

[2022-05-31 17:33] om26er commented on #44
@konsultaner the supported serializers have to be provided during the websocket handshake, they are negotiated before WAMP session is estabilished.

We need to change this code to take multiple serializers https://github.com/konsultaner/connectanum-dart/blob/master/lib/src/transport/websocket/websocket_transport_io.dart#L77

Once the connection is established the `_socket.protocol` can be queried

[2022-05-31 17:52] konsultaner commented on #44
@om26er `_socket.protocol` would have a value of `wamp.2.json.msgpack.cbor`, if all serializers are privided?

[2022-05-31 17:58] om26er commented on #44
`_socket.protocol` would be `wamp.2.json` or `wamp.2.msgpack` or `wamp.2.cbor` depending on whichever sub-protocol (serializer in our case) is negotiated

This page might be of interest https://medium.com/@lancers/websocket-api-sec-websocket-protocol-subprotocol-header-support-277e34164537

Also afaik, Crossbar has that behavior and so does all autobahn libraries

[2022-05-31 18:12] om26er commented on #44
And this line
[code]
would essentially look like
[code]

[2022-05-31 18:13] oberstet commented on #44
yes, that is true. however, WAMP transports may have negotiation - as does WebSocket for example.

in code terms, both WAMP-WebSocket clients and servers maintain a list of serializers they support

https://github.com/crossbario/autobahn-python/blob/0090f300fa9e2d4a1ef2a44ee15241a9ad9ba4f3/autobahn/wamp/websocket.py#L302

with WAMP-WebSocket clients, the client will send the list as WebSocket subp

[2022-05-31 18:16] oberstet commented on #44
writing above .. reminds me of "batched transports" ... which is a thing, and can bring quite some efficiencies. in particular on TLS. because there you want to shuffle multiple WAMP messages in a single TLS segment ... and the way TLS Python Twisted interacts .. anyways, details;)

[2022-05-31 18:39] konsultaner commented on #44
@om26er  @oberstet  thanks for all that input. I was blind about the fact, that the `_socket.protocol` already is an array... I'll fix that.

[2022-05-31 19:13] konsultaner commented on #45
https://cbor.me/ to convert json from the json serioalizer tests to cbor
https://cryptii.com/pipes/integer-encoder to convert hex string to uint8list to test the deserializer

@om26er if I can't finish it soon, this is a good start:
https://github.com/konsultaner/connectanum-dart/blob/ee5d1c669cc6cabda62bc317948c13f4b3c3c5b9/test/serializer/cbor/serializer_test.dart

[2022-06-02 10:02] konsultaner commented on #44
@oberstet at the moment there is only msgpack and json support for raw sockets. `0x0001` for json and `0x0010` for msgpack if we added `0x0100` for cbor, the sending `0x0111` could mean that all 3 serializers are supported.

@om26er do you need raw socket at all?

[2022-06-02 14:14] oberstet commented on #44
@konsultaner There is no negotiation in RawSocket by design. KISS;) The client must announce the one serializer it wants to talk, and the router accepts or denies. That's it. No need for ANDing of multiple values.

Having said that, I guess we might lack definitions for RAWSOCKET_SERIALIZER_IDs in the spec for RawSocket? Are we indeed?

AutobahnPython and Crossbar.io support RawSocket over TCP, TL

[2022-06-02 14:21] konsultaner commented on #44
@oberstet @om26er  ok, then well only have this feature for WebSockets. But to be honest, if crossbar supports all them why would some want to choose anyway?

I don't really see a point. but I might do it if I get some time for that. @om26er If you are faster then me, feel free to send a PR.

[2022-06-08 01:57] om26er commented on #44
I proposed a change to Nexus's WAMP client, which keeps the user-facing API as-is but internally offers a list of serializers to the router if user doesn't specifically request one https://github.com/gammazero/nexus/pull/270

I guess we can do a similar treatment here without changing the user API

[2022-06-17 11:09] konsultaner commented on #45
@om26er could you give the cbor serializer a try? I finished the implementation. Please checkout the `serializer_cbor` branch for this.

[2022-06-17 13:22] konsultaner commented on #26
@oberstet Coming back to this issue. We've had a lot of talks about this topic and others kind of belonging this.

1. Serialization is and has always been a big issue in general -> IDL + FlatBuffers would do a great job, issues are
    1. performance
    2. multiple serialization types
    3. header + body share the serialization type (opaque payload, E2E, binary data [+json], streams, zero copy,

[2022-06-17 14:22] oberstet commented on #26
so yeah, in fact I've been working on this recently, here are a couple of first examples and screenshots (autobahn has a CLI tool now to dump schemas)

https://github.com/crossbario/crossbar-examples/tree/master/payload-validation

[code]
![Bildschirmfoto von 2022-06-17 16-09-15](https://user-images.githubusercontent.com/233340/174314951-10eb60a3-b862-454f-9d3c-02749eb3fbd4.png)

[code]
![Bildschi

[2022-06-17 14:41] oberstet commented on #26
forgot another link: https://github.com/crossbario/autobahn-python/tree/master/autobahn/xbr/test/catalog/src

pls have a look at the schemas there, in particular:

* wamp-auth: (dynamic) WAMP authentication and authorization API
* wamp-meta: WAMP meta API
* wamp-control: node control API .. crossbar.io specific .. currently

Now, here is a head spin:

Imagine we'd add reflection procedures to the

[2022-06-17 14:49] oberstet commented on #26
btw, the fbs idl schemas work for payload validation _regardless_ of the serializer used by clients! eg this is a json based client .. note the "v
![Bildschirmfoto von 2022-06-17 16-47-46](https://user-images.githubusercontent.com/233340/174322060-b5ab171b-ea64-4ddd-8529-cbb2cfa59339.png)
alidate" etc log lines

[2022-06-21 20:53] oberstet commented on #26
fwiw, I've started to write spec text here https://github.com/wamp-proto/wamp-proto/pull/405 .. but it's WIP .. once I've added everything, I'll try to gather more contributors/implementors feedback ...

[2022-06-21 21:22] oberstet commented on #26
@konsultaner rgd an MSC on top of IDL defined types for app payloads in calls and events: what I'd be looking out for in an MSC language or similar is:

being able to express a message transmission (a link between state machine state nodes) that allows to specify:
* a message transmission latency
* actual a latency distribution ..
* .. with a non-zero probability for complete message loss (equival

[2022-06-22 08:45] konsultaner commented on #26
@oberstet I'm 100% with you! I'll keep my eyes open. But as you said this may be an academical task...

[2022-07-08 08:58] konsultaner commented on #45
@oberstet do you see any chance to confirm that cbor serializer is working in production? My router doesn't speak cbor. This is only a unit test implementation.
@om26er maybe you get a chance to test it soon? Would like to deploy it.

[2022-07-08 12:26] oberstet commented on #45
@konsultaner the product of the company Omer is working for is based on WAMP and would profit from this, so they are the right addressee ..

[2022-07-08 12:29] om26er commented on #45
Hey I'll try that today and update here

[2022-07-08 12:42] imranhakeem commented on #45
@konsultaner I just gave this branch a try. I tried both Crossbar and Nexus and it seems it doesn't really work. Below are the logs I see in Crossbar
[code]

[2022-07-08 12:52] konsultaner commented on #45
@imranhakeem Did you also replace the `Serializer()` in your code? Just setting `WebSocketSerialization.SERIALIZATION_CBOR` is not enough. If you did change the `Serializer()` import, could you debug what message killed the serializer?

[2022-07-08 13:13] imranhakeem commented on #45
@konsultaner you are right, I was importing the wrong file. However I did find out that a missing file for cbor, hence I created a PR https://github.com/konsultaner/connectanum-dart/pull/46

After the above change I am able to use CBOR, only did basic testing but I think this is good

[2022-07-08 13:29] om26er commented on #45
@konsultaner I work with @imranhakeem, with the proposed change CBOR seems to work now

[2022-07-08 14:06] konsultaner commented on #45
merged the branch

[2022-07-08 14:06] #45 closed

[2022-10-17 09:59] KSDaemon commented on #44
Let me put my 50cents:

* Indeed websocket protocol has a special header `Sec-Websocket-Subprotocol` that is used for serializer selection in WAMP.
* But there is no clear definition of how serializer is chosen. In our case client is initiator of the connection, so the client can put a list of supported serializers into `Sec-Websocket-Subprotocol` header (e.g. `Sec-Websocket-Subprotocol: wamp.2.cb

[2022-10-17 11:25] KSDaemon opened #50 "Better reconnection handling"
Copy pasted main points from #47 for context:

So in the first run, there are the next points of connection failure and reconnection:

* Transport failures before session is established.
* Wamp abort (due to auth or other reasons) before session is established. Wamp error means that server processed client messages and get to some point that resolves in abort. Does auto reconnection fix this? Seem

[2022-10-17 11:38] KSDaemon opened #51 "Implement Payload PassThru Mode"
Add new AP Feature: `Payload PassThru Mode` (PPT for short)

More info in SPEC: https://wamp-proto.org/wamp_latest_ietf.html#name-payload-passthru-mode

[2022-10-17 11:39] KSDaemon commented on #51
I'm working on that

[2022-10-17 19:07] oberstet commented on #44
for wamp-websocket transports, which do use `Sec-Websocket-Subprotocol`, this follows from RFC6455 (websocket). in your example: when a client announces `wamp.2.cbor, wamp.2.msgpack, wamp.2.json`, the first one the router supports and wants to talk

for wamp-websocket, see RFC6455

for wamp-rawsocket: there is no support for selecting from multiple ones, see my comment https://github.com/konsultan

[2022-10-19 20:48] KSDaemon commented on #44
Well, I was also thinking so, but in RFC6455 (that i read a lot of course) it is stated like this:
For client side:

And for server side:

`the server is willing to use` can be treated differently. So yes, server supports cbor, msgpack, json, client sent cbor, json. But server is willing to choose json even if it supports all client announced.

Well I would like to hope that every server choose th